.form-title {
  font-size: 2.3rem;
  text-align: center;
  font-family: $font-f;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: 600;
}
.contact-form {
  div:has(input, textarea) {
    padding: 1rem;
  }
  textarea {
    min-height: 200px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input,
  textarea {
    &::placeholder {
      font-size: 1.2rem;
      letter-spacing: 0.1em;
    }
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $font-f;
    outline: none;
  }
  .submit-btn {
    @include button(#070707);
  }
}
.contact-nav {
  //   display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    // padding: 1rem;
    a {
      font-size: 1.7rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      text-decoration: none;
      color: #070707;
      font-weight: 450;
      transition: all 0.3s ease-in-out;
      &:hover{
        color: $themeColor;
      }
      .call-icon {
        color: #3ea381;
      }
      .mail-icon {
        color: #cb0001;
      }
    }
  }
}
.social-nav {
  list-style: none;
  display: flex;
  column-gap: 3.5rem;
  margin: 1rem 0;
  padding: 0;

  li {
    padding: 1rem 0;
    a {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      color: #070707;
     svg{
      transition: all 0.2s ease-in-out;
     }
      &:hover {
        .facebook {
          color: #3b5998;
        }
        .instagram {
          color: #e12828;
        }
        .youtube {
          color: #cd201f;
        }
        .twitter {
          color: #55acee;
        }
      }
    }
  }
}
.addresa-wrapper {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 5rem;
  address {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    max-width: 200px;
  }
}
.form-message {
    font-size: 1.5rem;
    padding-left: 2rem;
}